Binaries
Intermediate
Saved
!Saved/Config
.vs
DerivedDataCache
Content/Test
Build
.idea
Platforms
Content/Collections
Content/Developers
Content/Test
Plugins/Developer/RiderLink
Plugins/SkillIndicator/.git
*.sln
Nova.sln
/Content/Nova/Asset/Environment/InfinityBladeIceLands/Maps/FrozenCove.umap
/Content/FirstPersonArms
/Content/FPWeapon
/Content/LevelPrototyping
/Content/TopDown
/Content/Cursor
/Content/FirstPerson
/Content/Nova/Asset/Environment/DRAGON_CATACOMB/MAPS
/Content/Nova/Asset/Environment/Merlin/Maps
/Content/Nova/Asset/Environment/GothicHorror/Maps
Nova.sln.DotSettings.user
/Content/ForestAnimalsPack
*.BuiltData
/Content/Nova/Asset/Environment/GothicTemple/Levels/GothicTemple.umap
/Content/Nova/Asset/Environment/GothicTemple/Levels/GothicTemple_BuiltData.uasset
/Content/Nova/Asset/Environment/GothicTemple/Levels/OverviewMap.umap
/Content/Nova/Asset/Environment/GothicTemple/Levels/OverviewMap_BuiltData.uasset
Windows
*.7z
/Plugins/LyraAnim/.git

# VitePress
node_modules
docs/.vitepress/cache
docs/.vitepress/dist